@page
@model fantazijos_lyga.Pages.KaipZaistiModel
@{
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="kaipZaistiPsl">
<h1>Kaip žaisti ?</h1>
<hr class="tutorialHr" />
<p>Sveiki atvykę į fantazijos lygą, kurioje kiekvienas naudotojas varžosi su kitais naudotojais, jog išsiaiškintų, kuris turi geriausias NBA lygos žinias bei, kuris gali suburti geriausias komandas kiekvienose varžybose.</p>
<p>Atsidarius svetainės pradinį puslapį kiekvienas neregistruotas narys matys rungtynes, kurios dar nėra prasidėjusios</p>
<img src="~/img/pradinisPuslapis.png" class="img-fluid tutorialImg" alt="Responsive image">
<p>Tačiau norint dalyvauti rungtynėse reikia užsiregistruoti sistemoje paspaudes mygtuką "Registruotis" arba prisijungti prie Sistemos paspaudęs mygtuką "Prisijungti". Šiuos veiksmus galite atlikti čia:  <a href="/login">Prisijungti</a> arba <a href="/register">Registruotis</a></p>
<p>Užsiregistravus sistemoje galėsite dalyvauti pasirinktose rungtynėse paspaudę mygtuką "Dalyvauti" ant norimų rungtynių</p>
<img src="~/img/dalyvauti.png" class="img-fluid tutorialImg" alt="Responsive image">
<p>Atsidarius žaidėjo pasirinkimo puslapiui, jūs turėsite išsirinkti penkis žaidėjus, kurie jūsų nuomonę pasirodys geriausiai pasirinktose rungtynėse. Tačiau atsiminkite, vienam vartotojui galima turėti tiktais vieną komandą rungtynėse</p>
<img src="~/img/pasirinkimas.png" class="img-fluid tutorialImg" alt="Responsive image">
<p>Tai galima atlikti paspaudus prie žaidėjo esanti kairėje pusėje pridėjimo mygtuką ir kai galiausiai nuspręsite su kokia komanda norite dalyvauti spauskite mygtuką „Dalyvauti“.</p>
<p>Pasibaigus rungtynėms galėsite peržiūrėti rungtynių rezultatą paspaudus mygtuką „rezultatai“ ant norimų rungtynių</p>
<p>Rezultatų puslapyje galėsite sužinoti kiek taškų surinko kiekvienas narys ir kuris narys rungtynėse pasirinko geriausią komandą</p>
<img src="~/img/rezultatai.png" class="img-fluid tutorialImg" alt="Responsive image">
</div>